<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="color: red;">
        <%-message%>
    </div>
    <a href="/user/logout">Logout</a>
    <div style="border: 2px solid #000">
        Suggestions:
    </div>

    <div style="margin-top: 20px; border: 2px solid #000;">
        <span>Enter Username of user you want to follow: </span>
        <form action="/user/follow" method="POST">
            <input type="text" name="username" placeholder="Enter username">
            <button type="submit">Follow</button>
        </form>
    </div>

    <div style="display: flex; align-items: center; margin-top: 20px;">
        <div style="display: inline-block; width: 48%; border: 2px solid #000;">
            Users who follow you(Followers):
            <ul>
                <% for(i=0;i<followers.length;i++) { %>
                    <li style="position: relative;">
                        <%-followers[i].followedBy%> 
                        <a style="position: absolute; right: 0; padding-right: 10px;" href="/user/removeFollower/<%-followers[i].followedBy%>">Remove</a>
                    </li>
                <%  } %>
            </ul>
        </div>
        <div style="display: inline-block; width: 48%; border: 2px solid #000;">
            Users whom you follow(Following):
            <ul>
                <% for(i=0;i<following.length;i++) { %>
                    <li style="position: relative;">
                        <%-following[i].followed%>
                        <a style="position: absolute; right: 0; padding-right: 10px;" href="/user/removeFollowing/<%-following[i].followed%>">Remove</a>
                    </li>   
                <% } %>
            </ul>
        </div>
    </div>
</body>
</html>